@media (min-width:760px){
    #firstSection{
        margin-bottom: 8%;
    }
    #fsSubText2{
        margin-bottom: 1%;
    }
    #firstSection .buyBtn{
        margin-top: 3%;
    }
    #secondSection{
        font-size: 18px;
    }
    #secondSection .buyBtn{
        margin-top: 3%;
    }
    #thirdSection{
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 5%;
    }
    .thirdSectionP{
        font-size: 1.5em;
    }
    #thirdSectionLastP{
        font-size: 1.5em;
    }
    #fourthSection{
        margin-top: 2%;
        font-size: 20px;
    }
    .fourthSectionPTitles{
        font-size: 2em;
        margin-bottom: .8em;
    }
    .fourthSectionP{
        font-size: 1.3em;
        font-weight: 500;
    }
    #finalSection{
        padding: 1%;
        margin-top: 0%;
        font-size: 15px;
    }
    #finalSection h1{
        margin-bottom: 2%;
    }
    #finalSection img{
        margin-bottom: 2%;
    }
    #finalSection .buyBtn{
        margin-top: 1%;
        height: 9vh;
    }
}
@media (min-width:940px){
    #firstSection .buyBtn, #secondSection .buyBtn, #thirdSection .buyBtn, #fourthSection .buyBtn, #finalSection .buyBtn{
        width: 40vw;
        font-size: 1.1em;
    }
    #firstSection{
        font-size: 16px;
        margin-bottom: 2em;
    }
    #firstSection .buyBtn{
        margin-top: 3em;
    }
    #secondSection{
        font-size: 18px;
    }
    #secondSection li{
        margin-bottom: 4%;
    }
    #thirdSection{
        font-size: 20px;
    }
    .thirdSectionP{
        margin-bottom: 3%;
    }
    #fourthSection{
        margin: 0;
        padding: 2%;
        font-size: 20px;
    }
    #fourthSection .buyBtn{
        width: 40vw;
        height: 11vh;
    }
    #fourthSection h2{
        margin: 1.5%
    }
    .fourthSectionP{
        margin-bottom: 2%;
        font-weight: 500;
    }
    #finalSection{
        font-size: 14px;
    }
    #finalSection h1{
        margin: 0;
        padding: 0%;
    }
    #finalSection img{
        width: 50vw;
        display: block;
        margin: 1.5% auto;
    }
    #finalSectionFinalP{
        margin: 0 auto;
        width: 80vw;
        font-size: 2em;
        padding-bottom: 1.7%;
    }
    #finalSection .buyBtn{
        margin: 0;
        padding: 0;
        height: 10vh;
        font-size: 1.3em;
    }
}
@media (min-width:1840px){
    #firstSection{
        font-size: 18.2px;
    }
    #secondSection{
        font-size: 20px;
    }
    #secondSection .buyBtn{
        margin: 0;
    }
    #thirdSection{
        font-size: 22px;
        padding-bottom: 1em;
    }
    #fourthSection{
        font-size: 24px;
    }
    #fourthSection h3, #fourthSection h2, .fourthSectionPTitles, .fourthSectionP{
        width: 70vw;
        margin: 0 auto;
    }
    #fourthSection h2{
        margin: 1em auto;
    }
    .fourthSectionPTitles{
        margin-bottom: 1em;
    }
    .fourthSectionP{
        margin-bottom: 1em;
    }
    #finalSection{
        font-size: 14px;
    }
    #finalSection img{
        width: 40vw;
    }
    #finalSectionFinalP{
        margin: 0 auto;
        width: 85vw;
        font-size: 2.5em;
    }
}