@media (min-width:375px) and (min-height:700px){            /*Smartphones*/
    #firstSection{
        margin: 20% 0% 20% 0%;
    }
    #secondSectionUl{
        font-size: 1.4em;
        padding-left: 1.5%;
    }
    #thirdSection h1{
        margin-top: 30%;
    }
    #fourthSection{
        height: 90vh;
        margin-top: 80%;
    }
    #finalSection{
        margin-top: 40%;
    }
    #finalSection h1 span{
        color: #fff;
        background-color: black;
        font-size: 2.3em;
    }

}
@media (min-width:760px) and (min-height:850px){
    #firstSection{
        margin: 3% 0% 7% 0%;
    }
    #thirdSection h1{
        margin: 7% 0 7% 0;
    }
    .thirdSectionP{
        font-size: 1.5em;
    }
    #thirdSectionLastP{
        font-size: 1.5em;
    }
    #fourthSection{
        height: 90vh;
        margin-top: 5%;
    }
    #finalSection{
        margin-top: 13%;
    }
}
@media (min-width:1100px) and (min-height:900px){
    #firstSection{
        margin: 0%;
        font-size: 20px;
    }
    #fsSubText2{
        margin-bottom: 3%;
    }
    #secondSection{
        font-size: 18px;
    }
    #secondSectionLastH1{
        margin-top: 3%;
    }
    #thirdSection{
        height: 70vh;
        font-size: 22px;
    }
    #thirdSection h1{
        margin: 7% 0 3% 0;
    }
    .thirdSectionP{
        margin-bottom: 5%;
    }
    #thirdSectionLastP{
        margin: 5% auto;
    }
    #fourthSection{
        height: 80vh;
        margin-top: 10%;
        font-size: 26px;
    }
    .fourthSectionP{
        font-size: 1.2em;
    }
    .fourthSectionPTitles{
        font-size: 1.3em;
        margin-bottom: 3%;
    }
    #finalSection{
        margin-top: 25%;
        font-size: 15px;
        height: 80vh;
    }
    #finalSection img{
        width: 40vw;
    }
    #finalSectionFinalP{
        font-size: 2em;
    }
}
@media (min-width:1350px){
    #finalSection{
        margin-top: 15%;
    }
}